
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable" id="tabs-390357">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:; #panel-16186" data-toggle="tab" style="margin-left: 470px">学生注册</a>
                    </li>
                    <li>
                        <a href="javascript:; #panel-735528" data-toggle="tab">教师注册</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <!-- 学生注册 -->
                    <div class="tab-pane active" id="panel-16186">
                        <div class="row" style="margin-top: 80px;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="InputEmail">
                                            学生邮箱
                                        </label>
                                        <input type="email" class="form-control" id="InputEmail" ng-model="user.email"  required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputName">
                                            请输入姓名
                                        </label>
                                        <input type="text" class="form-control" id="InputName" ng-maxlength="20" ng-model="user.name" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputNumber">
                                            请输入学号
                                        </label>
                                        <input type="text" class="form-control" id="InputNumber" ng-model="user.number"  ng-maxlength="20" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword">
                                            请输入密码
                                        </label>
                                        <input type="password" class="form-control" id="InputPassword" ng-model="user.password"  ng-maxlength="20" required/>
                                    </div>
                                    <div ng-if="regSucc" class="btn btn-warning" >邮箱/工号/学号已经被注册</div>
                                    <br ng-if="regSucc">
                                    <br ng-if="regSucc">
                                    <div type="submit" class="btn btn-default " ng-click="user.name == null || user.password == null || user.email == null || register()" ng-disabled="user.name == null || user.password == null || user.email == null" >
                                        注册
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </div>
                    <!-- 教师注册 -->
                    <div class="tab-pane" id="panel-735528">
                        <div class="row" style="margin-top: 80px;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="InputEmail1">
                                            教师邮箱
                                        </label>
                                        <input type="email" class="form-control" id="InputEmail1" ng-model="teacher.email"  required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputName1">
                                            请输入姓名
                                        </label>
                                        <input type="text" class="form-control" id="InputName1" ng-maxlength="20" ng-model="teacher.name" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputNumber1">
                                            请输入工号
                                        </label>
                                        <input type="text" class="form-control" id="InputNumber1" ng-model="teacher.number"  ng-maxlength="20" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPassword1">
                                            请输入密码
                                        </label>
                                        <input type="password" class="form-control" id="InputPassword1" ng-model="teacher.password"  ng-maxlength="20" required/>
                                    </div>
                                    <div ng-if="regSucc1" class="btn btn-warning" >邮箱/工号/学号已经被注册</div>
                                    <br ng-if="regSucc1">
                                    <br ng-if="regSucc1">
                                    <button type="submit" class="btn btn-default " ng-click="teacher.name == null || teacher.password == null || teacher.email == null || registerTeacher()" ng-disabled="teacher.name == null || teacher.password == null || teacher.email == null" >
                                        注册
                                    </button>
                                </form>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>