<!-- 学生选课 -->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable" id="tabs-390357">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:; #panel-16186" data-toggle="tab">所有课程</a>
                    </li>
                    <li>
                        <a href="javascript:; #panel-735528" data-toggle="tab">我的课程</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-16186">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>课程名</th>
                                <th>课程描述</th>
                                <th>教师名</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="x in lessonInfoitems">
                                <!-- <td>{{ $index + 1 }}</td> -->
                                <td ng-bind="x.lessonName"></td>
                                <td ng-bind="x.lessonDesc"></td>
                                <td ng-bind="x.teacherName"></td>
                                <td><a ng-click="studentSaveLesson(x.lno)">选课</a></td>
                            </tr>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a ng-click="lessonInfoPrevious()">
                                        <span>上一页</span>
                                    </a>
                                </li>
                                <li ng-repeat="page in lessonInfopageList" ng-class="{active: lessonInfoisActivePage(page)}" >
                                    <a ng-click="lessonInfoselectPage(page)" >{{ page }}</a>
                                </li>
                                <li>
                                    <a ng-click="lessonInfoNext()">
                                        <span>下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tab-pane" id="panel-735528">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>课程名</th>
                                <th>课程描述</th>
                                <th>教师名</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="x in lessonSaveitems">
                                <!-- <td>{{ $index + 1 }}</td> -->
                                <td ng-bind="x.lessonName"></td>
                                <td ng-bind="x.lessonDesc"></td>
                                <td ng-bind="x.teacherName"></td>
                                <td><a ui-sref="sw({lno:{{x.lno}}})">查看课程的作业</a></td>
                            </tr>
                        </table>
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a ng-click="lessonSavePrevious()">
                                        <span>上一页</span>
                                    </a>
                                </li>
                                <li ng-repeat="page in lessonSavepageList" ng-class="{active: lessonSaveisActivePage(page)}" >
                                    <a ng-click="lessonSaveselectPage(page)" >{{ page }}</a>
                                </li>
                                <li>
                                    <a ng-click="lessonSaveNext()">
                                        <span>下一页</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ui-view></div>