<div class="btn btn-danger" ng-click="logout()">注销</div>

<!-- 添加作业模态框-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a id="modal-969875"  href="javascript:; #modal-container-969875" role="button" class="btn btn-success"  style="margin-bottom: 20px" data-toggle="modal">添加作业</a>

            <div class="modal fade" id="modal-container-969875" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #222">
                            <h5 class="modal-title" id="myModalLabel" style="color:#fff">
                                添加作业
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true" style="color:#fff">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" ng-show="!isLogin">
                                <div class="col-md-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label for="InputName">
                                                作业名
                                            </label>
                                            <input type="text" class="form-control" id="InputName" ng-model="work.workName"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="InputDesc">
                                                作业描述
                                            </label>
                                            <input type="text" class="form-control" id="InputDesc" ng-model="work.desc"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="InputDesc">
                                                作业内容
                                            </label>
                                            <div text-angular ng-model="work.workInfo"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="work.workInfo == null || work.workName == null || work.desc == null ||saveWork()" ng-disabled="work.workInfo == null || work.workName == null || work.desc == null">
                                保存
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>